<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @Html.Partial("_Header")
    @RenderSection("metatags", false)
</head>
<body>

    <!-- Top Menu Start -->
    @Html.Partial("_TopMenu")
    <!-- End of Top Menu-->
    <!-- Banner Start -->
    @Html.Partial("_Banner")
    <!-- End of Banner -->


    <div id="templatemo_content_wrapper">
        <div id="templatemo_content">

            <!-- Content Area -->
            <div id="column_w530">
                <div class="header_02">Welcome to MSIP!</div>
                @RenderBody()

                <p class="em_text">
                    <a>This is Home Page of the brand new Microsoft Student Information portal designed by CL5's very own, Group One!</a>
                </p>
                <div class="cleaner"></div>
            </div>
            <!-- End of Content Area -->
            <!-- Right Sidebar -->
            @Html.Partial("_Sidebar")
            <!-- End of Right Sidebar -->

            <div class="cleaner"></div>
        </div>
    </div>

    <!-- Footer -->
    @Html.Partial("_Footer")
    <!-- End of Footer -->
</body>
</html>